In [33]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [34]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME","APPLICATION_TYPE","CLASSIFICATION"], axis=1)
application_df.head()

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,ProductDev,Association,1,0,N,5000,1
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Determine the number of unique values in each column.
application_df[application_cat].nunique()

AFFILIATION               6
ORGANIZATION              4
USE_CASE                  5
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [37]:
# Generate our categorical variable lists
application_cat = ["AFFILIATION", "ORGANIZATION", "USE_CASE", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
application_cat

['AFFILIATION',
 'ORGANIZATION',
 'USE_CASE',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [38]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [39]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True,right_index=True).drop(application_cat,1)
application_df.head()

/Users/kellymcquillan/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,ORGANIZATION_Association,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [40]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

/Users/kellymcquillan/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 10)                290

 dense_5 (Dense)             (None, 8)                 88

 dense_6 (Dense)             (None, 5)                 45

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 429
Trainable params: 429
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 1.1172 - accuracy: 0.5347
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5351
Epoch 67/100
 58/804 [=>............................] - ETA: 2s - loss: 0.6920 - accuracy: 0.5259

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")